SHOPEE_APP_ID=""
SHOPEE_APP_SECRET=""

EVOLUTION_BASE_URL=http://evo-w8g8c0o40okkc0ogg4kk0cw0.5.78.99.120.sslip.io
EVOLUTION_INSTANCE=
EVOLUTION_TOKEN=
BOT_ALLOWED_NUMBERS=""

GEMINI_API_KEY=""

N8N_WEBHOOK_URL=""
